/* This is the body section */

* {
  margin: 0vh 0vw;
  padding: 0v 0vw;
  background: rgb(252, 250, 245);
}

p {
  background: rgb(184, 198, 175);
  text-align: center;
  color: rgb(0, 0, 0);
  width: 70vw;
  margin: 0vh, 13vw;
  padding: 2vh, 2vw;
}

h1 {
  color: rgb(184, 198, 175);
  border: 0;
  text-align: center; 
  font-size: 10vw;
}

h2 {
  color: rgb(37, 61, 23);
}

h3 {
  color: rgb(0, 0, 0);
}

hr {
  width: 50vw;
  text-align: center;
  color: rgb(37, 61, 23);
  background: rgb(37, 61, 23);
  height: 1vh;
  margin: 0vh, 25vw;
}